.userbtns .nav-tabs>li{
    width:100%;
}
.userccount{
    margin-bottom: 20px !important;

    background-color:#b33b29 !important;
    border:  0px solid white !important;

}

.error-msg{

    color:white;
}
img{

    width:100px !important; height:100px !important ;
}
.checked {
    color: orange;
}
body{
    background-color:#302f2d !important;
    color: #ffff00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.margin-top{
    margin-top: 100px;
}

a{
    color:white !important;
}

.dropdown-menu li a {
    color:#302f2d !important;
}

navbar-nav>li>a:hover, .navbar-nav>li:hover>a, .navbar-nav>li.active>a {
    border-bottom-color: #b33b29;
}

#candidateTable{
    margin-top: 80px;
}

.l-text{
    color :lightblue !important;
}
.label-success{
    background-color:#b33b29;
    
}
.userbtns .nav-tabs>li.active a:after {
    border-top: 10px solid #b33b29;
}

.formpanel .btn{
    background-color:#b33b29;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.socialLogin{
    background-color: #b33b29 !important;

}
html {
    background-color:#302f2d !important;
}

.row{
    background-color:#302f2d !important;
}

.form-control{
     width: 250px;
     margin-left: auto !important;
     margin-right: auto !important;
     color:white;
     background-color:black;

}
.table table-dark{
    background-color: blue;
}
h5{
    color: white !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.newuser{
    color: yellow;
}
.navbar-nav{

}
.listpgWraper{
    background-color: #302f2d;
}
#city{
    height: 44px;
}
.error-msg{
    text-align: center !important;
    color: #ffff00 !important;
}
.formrow{
    text-align: center !important;
}
.logoimg{
    height: 75px !important;
    width: 290px !important;
}
.ng-binding{
    padding-top: 6px;
}
